body
  background-color pink 

.grid-container
  display: grid
  grid-template-rows: 300px 300px 300px
  grid-template-areas 
    "one four seven"
    "two five eight"
    "three six nine"   
    
  grid-gap: 4rem
  
  
.one 
  grid-area: one

.two 
  grid-area: two

.three 
  grid-area: three

.four 
  grid-area: four

.five 
  grid-area: five

.six 
  grid-area: six

.seven 
  grid-area: seven

.eight 
  grid-area: eight

.nine
  grid-area: nine


